*{
    margin: 0%;
    padding: 0%;
}

body{
    height: 100%;
    width: 100%;
    overflow: hidden;

     -ms-overflow-style: none;
    }
    
    ::-webkit-scrollbar {
    display: none;
}


#intro {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
}

#intBg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
    transition: transform 1s ease-in-out;

    
}

#distance{
    position: fixed;
    background-image: url(img/distance.png);
    width: 200%; 
    height: 100%;
    background-repeat: repeat-x;  
    background-size: contain; 
    z-index: -2;
}


#background{
    position: fixed;
    background-image: url(img/background.png);
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;    
    z-index: -1;
}


#scroll{
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: none;
    scroll-behavior: smooth;
    display: flex;
    transform-origin: center;
    z-index: 0;
    }

#main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: max-content;
}

.fossil{
    position: relative;
    flex: 0 0 100vw;
    z-index: 0;
    scroll-snap-align: start;
}


.fossil img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sign .note{
    position: absolute;
    width: 1000px;
    height: auto;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    z-index: 2;
}

.sign:hover > .note {
    opacity: 1 ;
}
body.no-hover .sign {
    pointer-events: none !important;
}

#stegosaurus{
    left: 40%;
    top: 52%;

    width: 1100px;
    height: auto;
    transform: translate(-50%, calc(-50% - 50px));
    opacity: 0;
}

#stegoSignImg{
    left: 75%;
    top: 75%;
    width: 200px;
    height: auto;
    transform: translate(-50%, calc(-50% - 50px));;
    opacity: 0;
}

#dimetrodon{
    left: 65%;
    top: 50%;
    width: 1100px;
    height: auto;
}

#dimetrodonSignImg{
    left: 35%;
    top: 75%;
    width: 200px;
    height: auto;
}

#pterosaur{
    left: 60%;
    top: 30%;
    width: 1100px;
    height: auto;
}

#pterosaurSignImg{
    left: 40%;
    top: 75%;
    width: 200px;
    height: auto;
}

#tyrannosaurus{
    left: 45%;
    top: 45%;
    width: 1100px;
    height: auto;
}

#tyrannoSignImg{
    left: 70%;
    top: 75%;
    width: 200px;
    height: auto;
}

#rhinoceros{
    left: 60%;
    top: 62%;
    width: 800px;
    height: auto;
}

#rhinocerosSignImg{
    left: 30%;
    top: 75%;
    width: 200px;
    height: auto;
}


#polarBear{
    left: 25%;
    top: 55%;
    width: 800px;
    height: auto;
}

#polarBearSignImg{
    left: 35%;
    top: 75%;
    width: 200px;
    height: auto;
}

#redCrownedCrane{
    left: 75%;
    top: 68%;
    width: 500px;
    height: auto;
}

#craneSignImg{
    left: 65%;
    top: 75%;
    width: 200px;
    height: auto;
}

#human{
    left: 75%;
    top: 60%;
    width: 650px;
    height: auto;
}

#humanSignImg{
    left: 60%;
    top: 75%;
    width: 200px;
    height: auto;
}

#end{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
    inset: 0;
}


.endBg{
    background-image: url(img/endBg.png);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    pointer-events: none;
}

#endText{
    position: absolute;
    width: 90%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
    z-index: 1;
    inset: 0;
    top: -5%;
    left: 5%;
    pointer-events: none;
}

#end.show{
    opacity: 1;
    pointer-events: auto;
}

#end.show #endText{
    opacity: 1;
}

#backBtn{
    position: absolute;
    z-index: 2;
    width: 5%;
    top: 65%;
    opacity: 0;
    transform: scale(1);
    transition: opacity 3.0s ease-in-out,
    transform 0.3s ease-in-out;
    cursor: pointer;
}

#end.show #backBtn {
    opacity: 1;
}

#backBtn:hover{
    transform: scale(1.05);
}